/*! normalize.css 2012-03-11T12: 53 UTC - http: //github.com/necolas/normalize.css */
rticle,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline;
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0em;
}
[hidden] {
    display: none;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
body {
    margin: 0em;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0em;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0em;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0em;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0em;
}
h4 {
    font-size: 1em;
    margin: 1.33em 0em;
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0em;
}
h6 {
    font-size: 0.75em;
    margin: 2.33em 0em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p,
pre {
    margin: 1em 0em;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    font-size: 1em;
    _font-family: 'courier new', monospace;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: none;
}
small {
    font-size: 75%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
dl,
menu,
ol,
ul {
    margin: 1em 0em;
}
dd {
    margin: 0em 0em 0em 40px;
}
menu,
ol,
ul {
    padding: 0em 0em 0em 40px;
}
nav ul,
nav ol {
    list-style-image: none;
    list-style: none;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0em;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0em;
}
form {
    margin: 0em;
}
fieldset {
    border: 1px solid silver;
    margin: 0em 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    margin-left: -7px;
    border: 0em;
    padding: 0em;
    white-space: normal;
}
button,
input,
select,
textarea {
    vertical-align: middle;
    font-size: 100%;
    margin: 0em;
    vertical-align: baseline;
}
button,
input {
    line-height: normal;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type=checkbox],
input[type=radio] {
    height: 13px;
    width: 13px;
    box-sizing: border-box;
    padding: 0em;
}
input[type=search] {
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0em;
    padding: 0em;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0em;
}
.clear {
    clear: both;
}
.clearfix {
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0em;
    height: 0em;
    visibility: hidden;
}
.inline-block {
    display: inline;
    display: inline-block;
}
.replace {
    background-position: 0em 0em;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.border-box {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ellipsis {
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
html,
body {
    background: #fff;
    color: #3a3e4a;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    text-align: center;
}
a {
    color: #e86779;
}
a:hover {
    color: #c85565;
}
::selection,
::-moz-selection {
    background: #333;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #3a3e4a;
    text-decoration: none;
}
section.section {
    padding: 3em 0em;
}
.section:nth-child(3n+1),
.section:nth-child(3n+3) {
    color: rgba(255, 255, 255, .8);
}
.section:nth-child(3n+1) h1,
.section:nth-child(3n+3) h1,
.section:nth-child(3n+1) h2,
.section:nth-child(3n+3) h2,
.section:nth-child(3n+1) h3,
.section:nth-child(3n+3) h3,
.section:nth-child(3n+1) h4,
.section:nth-child(3n+3) h4,
.section:nth-child(3n+1) h5,
.section:nth-child(3n+3) h5,
.section:nth-child(3n+1) a,
.section:nth-child(3n+3) a {
    color: #fff;
}
.section:nth-child(3n+1) .list .number,
.section:nth-child(3n+1) .list .role {
    color: #3a3e4a;
}
.section:nth-child(3n+1) .list .meta {
    color: rgba(255, 255, 255, .8);
}
.section:nth-child(3n+1) .title {
    color: #fff;
}
.section:nth-child(3n+2) .table th,
.section:nth-child(3n+2) .table td {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
.section:nth-child(3n+3) .title {
    color: #fff;
}
.section:nth-child(3n+3) .list .meta {
    color: rgba(255, 255, 255, .8);
}
.section:nth-child(3n+3) .btn {
    background-color: #e86779;
}
.section:nth-child(3n+3) .btn:hover {
    background-color: #c85565;
}
.section h3 {
    font-size: 100%;
    letter-spacing: 0.3em;
    margin-bottom: 1em;
    margin-top: 0em;
    text-transform: uppercase;
}
.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.content:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0em;
    height: 0em;
    visibility: hidden;
}
#js-bg section a:hover {
    color: rgba(255, 255, 255, .7);
}
#js-bg section h2 {
    font-size: 280%;
    margin: 0em 0em 0.3em;
}
#js-bg section .introduction {
    margin: 0em 0em 2em;
}
#js-bg section .table {
    width: 560px;
}
#shadow {
    float: left;
    width: 600px;
    margin-bottom: 20px;
}
#shadow img {
    -webkit-box-shadow: 0em 2px 5px rgba(0, 0, 0, .3);
    box-shadow: 0em 2px 5px rgba(0, 0, 0, .3);
    max-width: 100%;
}
#shadow + div {
    width:400px;
    float:left;
}
#title, #info td {
    font-family: 'aoyagireisyosimo2';
}

.table th,
.table td {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    padding: 15px 8px;
    text-align: left;
}
.table th {
    font-size: 80%;
}
.table ul {
    padding-left: 1em;
}
@media (min-width:1020px) {
    .content h1 {
        margin: 0 auto 0 -1em;
        font-size:10em;
    }
}
@media (max-width:1020px) {
    .content {
        overflow: hidden;
        width: 93.75%;
        word-wrap: break-word;
    }
    #shadow {
        margin-right: 0em;
        width: 100%;
    }
    .content h1 {
        margin: 0 auto;
        font-size:6em;
    }
}

@font-face {
    font-family: 'aoyagireisyosimo2';
    /* subset */
    src: url('aoyagireisyosimo_ttf_2_02-sub.eot') format('eot'),
         url('aoyagireisyosimo_ttf_2_02-sub.woff') format('woff');
}

.js-slide1 {
    transition-property: background-color;
    transition-duration: 7s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 7s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 7s;
    -o-transition-property: background-color;
    -o-transition-duration: 7s;
    background-color: #e86779;
}
.js-slide2 {
    transition-property: background-color;
    transition-duration: 5s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 5s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 5s;
    -o-transition-property: background-color;
    -o-transition-duration: 5s;
    background-color: #513ECF;
}
.js-slide3 {
    transition-property: background-color;
    transition-duration: 5s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 5s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 5s;
    -o-transition-property: background-color;
    -o-transition-duration: 5s;
    background-color: #A2CF4A;
}
